@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

body {
  background: #363062;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-direction: column;
}

:root {
  font-family: 'Silkscreen', cursive;
}

h1, h3 {
  color: white;
}

.dice {
  width: 100px;
  height: 100px;
  padding: 4px;
  margin: 15px;
  background-color: #827397;
  justify-content: center;
  position: relative;
  top: 10px;
  border-radius: 10px;
}

.dot {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #E9D5CA;
}

.first-face {
  display: flex;
  justify-content: center;
  align-items: center;
}

.second-face {
  display: flex;
  justify-content: space-between;
}

.second-face .dot:nth-of-type(2) {
  align-self: flex-end;
}

.third-face {
  display: flex;
  justify-content: space-between;
}

.third-face .dot:nth-of-type(2) {
  align-self: center;
}

.third-face .dot:nth-of-type(3) {
  align-self: flex-end;
}

.fourth-face {
  display: flex;
  justify-content: space-between;
}

.fourth-face .column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.fifth-face {
  display: flex;
  justify-content: space-between;
}

.fifth-face .column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.fifth-face .column:nth-of-type(2) {
  justify-content: center;
}

.sixth-face {
  display: flex;
  justify-content: space-between;
}

.sixth-face .column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.newElement {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.clickme {
  width: 90px;
  height: 50px;
  font-size: 18px;
  font-family: 'Silkscreen', cursive;
  border-radius: 10px;
  background-color: #E9D5CA;
  font-weight: 400;
}

.board {
  display: inline-flex;
    
}

.gamer2 {
  margin-left: 50px;
}

.score-lay {
  display: inline-flex;
}

.score-txt {
  margin-right: 6px;
}